* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: auto;
  background-color: #5b9d9a;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.text {
  color: #2e504e;
  font-size: 40px;
  font-weight: 500;
}

.underline {
  width: 30%;
  border-bottom: 5px solid #2e504e;
  border-radius: 4px;
  padding: 6px 0px;
}

.inputs p {
  color: #2e504e;
  margin-left: 12px;
}

.inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 25px;
}

.input {
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgb(235, 234, 235);
  margin: auto;
}

.input img {
  margin: 0px 20px;
}

.input input {
  height: 50px;
  width: 280px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 1rem;
}

.create-account {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 40px;
}

.btn-create-account {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e504e;
  border-radius: 18px;
}

.btn-create-account button {
  color: #fff;
  background: #2e504e;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

#alreadyAccount {
  color: #2e504e;
  padding: 30px 0px;
  cursor: pointer;
}

#showHide {
  padding: 8px 10px;
  color: #8f8f8f;
  font-size: 1rem;
  border-radius: 8px;
    color: #797979;
  border: 1px solid grey;
  outline: none;
}
#showHide:hover {background-color: #abd2d0;}

span {
  color: blue;
}

@media screen and (max-width:767px) {
  .container {
    width: 60%;
  }

  .input {
    width: 90%;
  }

  .text {
    font-size: 30px;
  }

  .create-account {
    margin-top: 50px;
  }

  .btn-create-account {
    width: 65%;
  }
}

@media screen and (max-width:576px) {
  .container {
    width: 86%;
  }

  .header {
    margin-top: 10px;
  }

  .text {
    font-size: 35px;
  }

  .input {
    width: 90%;
  }

  .input input {
    font-size: 13px;
  }

  .create-account {
    margin: 20px 0px;
  }

  .btn-create-account {
    width: 55%;
    font-size: 16px;
  }
}